{% extends "base.html" %}
{% block title %}
<title>Password Change</title>
{% endblock title %}

{% block content %}
    {% load crispy_forms_tags %}
    <form action="" class="w-50 m-auto my-5" method="POST">
        <h3>Change Your Password:</h3>
        <br>
        {% csrf_token %}
        <!--{{form | crispy}} -->
        {% for f in form %}
        {{f.label | title}}:
        {{f}}
        <br>
        {% endfor %}
        <button class="btn btn-outline-info fw-bold"> Submit </button>
    </form>
{% endblock content %}