{% extends "base.html" %}
{% block title %}
<title>About Us</title>
{% endblock title %}

{% block content %}
    <div class="row m-5 p-5">
        <div class="col-6 ps-5">
            <h2>Go with the flow with <h1 class="text-warning">ListlyFlow</h1></h2>
            <p>aktoran60@gmail.com</p>
        </div>

        <div class="col-6 pe-5">
            <p style="font-size:20px; font-weight:600;">
                Whether you're a busy professional, a student with a hectic schedule, or someone looking to bring order to their life, <span class="text-warning">ListlyFlow</span> is here to help. Embrace the power of efficient task management and start your journey towards a more organized and productive life. <br> Thank you for choosing <span class="text-warning">ListlyFlow</span> – where making lists becomes a joy, and getting things done is a breeze!
            </p>
        </div>

    </div>
         
{% endblock content %}