{% extends "base.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock css_link %}
{% block title %}
<title>ListlyFlow</title> {% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

{% if request.user.is_authenticated %}

<div class="d-flex flex-wrap">

  <div class="col-2 bg-secondary text-light p-4">
    <h5 class="text-light mx-2 mb-2">Task By Priority:</h5>
    <div class="ms-2 mb-3">
        <a class="btn btn-outline-warning m-1" 
        style="width: 150px; font-weight: 600;"
        href="{% url "sort-priority" True %}">Maximum</a>
        <a class="btn btn-outline-warning m-1" 
        style="width: 150px; font-weight: 600;"
        href="{% url "sort-priority" False %}">Minimum</a>
      </div>

    <h5 class="text-light mx-2 mb-2">Task By Date:</h5>
    <div class="ms-2 mb-3">
        <a class="btn btn-outline-warning m-1" 
        style="width: 150px; font-weight: 600;"
        href="{% url "sort-date" False %}">Latest</a>
        <a class="btn btn-outline-warning m-1" 
        style="width: 150px; font-weight: 600;"
        href="{% url "sort-date" True %}">Oldest</a>
      </div>
        
      

    <h5 class="text-light mx-2 mb-2">Task By Category:</h5>
    <div class="ms-2">
        {% for category in categories %}
          <a class="btn btn-outline-warning m-1" 
          style="width: 150px; font-weight: 600;"
          href="{% url "sort-category" category.slug %}">{{ category.name }}</a>
          {% endfor %}
        </div>
    <div class="ms-2">
        <a class="btn btn-outline-warning m-1 p-0" 
        style="width: 150px; font-weight: 500; font-size: 30px;"
        href="{% url "add-category" %}"> + </a>
  </div>
</div>

  <div class="col-10">
    
  <div class="d-flex m-3">
    <h4 class="mt-2">Find specific task:</h4>

    <form class="d-flex p-2" action="{% url "filter" %}">
      {% for f in form  %}
      <!-- {{ form | crispy}} -->
      <div>
        {{f}}
      </div>
      {% endfor %}
      <button class="btn btn-secondary mx-1" type="submit">Filter</button>
    </form>
  </div>

    <div
    class="d-flex flex-wrap justify-content-center" >
      {% for task in data %}
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="card p-2 m-2 shadow w-100">
              <div class="card-body">
                <h4> {{task.title}} </h4>
                <h6> {{task.description}} </h6>      
                <p> {{task.category}} </p>
                <p> Due Date: {{task.due_date}} </p>
                {% if task.priority > 6 %}
                <p class="btn btn-sm btn-danger ">Priority: {{task.priority}} </p>
                {% elif task.priority > 4 %}
                <p class="btn btn-sm btn-warning">Priority: {{task.priority}} </p>
                {% else %}
                <p class="btn btn-sm btn-success">Priority: {{task.priority}} </p>
                {% endif %}

                <div class="d-flex ">
                    {% if task.status %}
                    <a class="btn-sm btn-secondary mx-1 text-decoration-none" disabled>Completed</a>
                    {% else %}
                    <a class="btn-sm btn-success mx-1 text-decoration-none" href="{% url "task-done" task.id %}">Complete Task</a>
                    {% endif %}
                    <a class="btn-sm btn-info mx-1 text-light text-decoration-none" href="{% url "edit-task" task.id %}">Edit</a>
                    <a class="btn-sm btn-info mx-1 text-light text-decoration-none" href="{% url "delete-task" task.id %}">Delete</a>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}

      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="card p-2 m-2 shadow w-100">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-center"
            style="font-size:33px">
                <a href="{% url "add-task" %}">Add another Task</a>
            </div>
          </div>
        </div>
      </div>

      </div>
      
  </div>
</div>

{% else %}

  <div class="intro">
    <div>
      <h2>Hello mate, Welcome to ListlyFlow!</h2>
    <h3>A simple task/project management or to-do app, whatever you call it.</h3>
    <h4 class="m-3"><a class="btn btn-info fw-bold" href="{% url "create-account" %}">Register</a> to give it a try. Already have an account? <a class="btn btn-success fw-bold" 
      href="{% url "login" %}">Login</a>
    </h4>
    </div>
  </div>

<div class="description">
  <h2 class="mb-3">User Homepage looks like:</h2>
  <img class="w-75 shadow" src="{% static "images/homepage.png" %}" alt="Logged In User Dashboard">
  <h2 class="p-5 mt-4" style="background-color: #f8f0e6;"> Get your tasks out of your head, <br> we will Remember them for you. </h2>

</div>

<div class="row">
  <div class="col-5">
    <img class="w-75 m-5" src="{% static "images/features.jpg" %}" alt="Features Image">
  </div>
  <div class="features col-7">
    <h2>You can:</h2>
    <ul><i class="fa-solid fa-plus"></i> Add task</ul>
    <ul><i class="fa-solid fa-bars"></i> Assign task to project/categories</ul>
    <ul><i class="fa-regular fa-flag"></i> Give priority level to tasks</ul>
    <ul><i class="fa-regular fa-calendar-days"></i> Add a due date</ul>
    <ul><i class="fa-solid fa-sort"></i> Sort tasks via:
      <ul class="fw-light">Category</ul>
      <ul class="fw-light">Priority</ul>
      <ul class="fw-light">Due Date</ul>
    </ul>
    <ul><i class="fa-solid fa-filter"></i> Find specific task</ul>
    <ul><i class="fa-regular fa-envelope"></i> Recieve updates on email</ul>
    <ul><i class="fa fa-search" aria-hidden="true"></i> Search task</ul>
    <ul><i class="fa-regular fa-pen-to-square"></i> Edit/Delete task</ul>
    <ul><i class="fa-solid fa-check"></i> Complete task</ul>
  </div>
    

</div>


{% endif %}

{% endblock content %}